@import '../../../styles/settings';
@import '../../../styles/heplers';

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 15%) 55% 15%;
  grid-template-rows: 2.5rem;
  border: 1px solid $lightGrey;

  .header-item {
    @include alignMe(center, center);
    border-right: 1px solid $lightGrey;
    color: $main;
  }

  .header-item-active {
    background-color: $darkGrey;
    color: $white;
  }
}
