//colors
$white: #fff;
$black: #000;
$lightGrey: #b0bac9;
$main: #373d41;

//fonts
$font-family: 'Source Sans Pro', sans-serif;

$font-weight-regular: normal;
$font-weight-semibold: 600;
$font-weight-bold: bold;

$font-size-s: 1.2rem;
$font-size-md: 1.6rem;
$font-size-l: 2rem;
